$header-height: 60px;
$container-width: 1280px;

// Colors
$navy: #182153;
$black: #000;
$green: #4ab49c;
$white: #fff;
$light-gray: #6f7a8a;
$light-green: #e0ebe8;
$other-green: #c5ded7;


// Color Mappings
$primary: $green;
$shadow: rgba(6, 8, 8, .2);
$footer-color: $other-green;
// $primaryDark: $darkGray;
// $secondary: $teal;
// $primaryText: $darkGray;
// $borderColor: #efefef;
// $anotherBorderColor: #ececed;
// $bodyGray: $lightGray;
